{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="form-group">
        {#{{ form_widget(form) }}#}

        <div class="alert-danger">{{ form_errors(form) }}</div>

        <div class="form-group">
            {{ form_label(form.username) }}<br>
            {{ form_widget(form.username) }}<br>
            <div class="alert-danger">{{ form_errors(form.username) }}</div>
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}<br>
                {{ form_widget(form.email) }}<br>
            <div class="alert-danger">{{ form_errors(form.email) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}<br>
                {{ form_widget(form.plainPassword.first) }}<br>
            <div class="alert-danger">{{ form_errors(form.plainPassword.first) }}</div>
        </div>
        <div class="form-group">
        {{ form_label(form.plainPassword.second) }}<br>
        {{ form_widget(form.plainPassword.second) }}
        </div>
        <div class="form-group">
        {{ form_rest(form) }}
        </div>

    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>