{% extends 'base.html.twig' %}

{% block body %}
    <h1>Użytkownicy <a class="ml-5 btn btn-outline-primary" href="{{ path('filter') }}">Filtruj</a> </h1>

    {% if(users == NULL ) %}
        <i>No results found</i>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a class="btn" href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('user_show', { 'id': user.id }) }}">Pokaż</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
{% endblock %}
