{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <span><b>Informacje o użytkowniku</b></span>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id}}</td>
            </tr>
            <tr>
                <th>Nazwa użytkownika</th>
                <td>{{ user.username}}</td>
            </tr>
            <tr>
                <th>e-mail</th>
                <td>{{ user.email}}</td>
            </tr>
            <tr>
                <th>Kwalifikacje</th>
                <td>
                    {% for qualification in user.qualifications %}
                        {{ qualification.name }} <br />
                    {% endfor %}
                </td>
            </tr>
        <tr>
            <th>Ostatnio zalogowany</th>
            <td>{{ user.lastLogin|date('Y-m-d  H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('user_index') }}">Powrót do listy</a>

{% endblock %}
