{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edycja kwalifikacji</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div class="row">
        <input class="btn btn-info m-1" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input class="btn btn-info m-1" type="submit" value="Usuń">
    {{ form_end(delete_form) }}

    <a class="btn btn-info m-1" href="{{ path('qualifications_index') }}">Back to the list</a>

    </div>

{% endblock %}
