{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista kwalifikacji</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qualification in qualifications %}
            <tr>
                <td><a href="{{ path('qualifications_show', { 'id': qualification.id }) }}">{{ qualification.id }}</a></td>
                <td>{{ qualification.name }}</td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('qualifications_edit', { 'id': qualification.id }) }}">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('qualifications_new') }}">Utwórz nową kwalifikację</a>

{% endblock %}
