{% extends "::base.html.twig" %}

{% block title %}My Account{% endblock %}

{% block body %}
<h1>Moje konto</h1>
    <span><b>Informacje o koncie użytkownika.</b></span>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ app.user.id}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ app.user.username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ app.user.email}}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{ app.user.roles[0]}}</td>
        </tr>
        <tr>
            <th>Qualifications</th>
            <td>
                {% for qualification in app.user.qualifications %}
                    {{ qualification.name }} <br />
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('fos_user_profile_edit') }}">Edytuj informacje o koncie</a>
    <a class="btn btn-info" href="{{ path('addQualifications', { 'id': app.user.id }) }}">Edytuj kwalifikacje</a>
{% endblock %}
